@charset "UTF-8";
/*--------------------------------
基本設定
---------------------------------*/
/* フォント */
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Itim&family=Zen+Kaku+Gothic+New:wght@300&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap");
.zen-maru gothic-regular {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 700;
  font-style: normal;
}

.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

/* カラー */
/*--------------------------------
下層ページ 共通TOP
---------------------------------*/
.rp-under-top {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 300px;
  background: url(../img/top_pc02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
@media screen and (max-width: 850px) {
  .rp-under-top {
    height: 200px;
  }
}
@media screen and (max-width: 550px) {
  .rp-under-top {
    height: 160px;
  }
}
.rp-under-top::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.8;
}

.under-top__title {
  width: 100%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 46px;
  font-weight: bold;
  color: #A58113;
  line-height: 2.8rem;
  z-index: 3;
}
@media screen and (max-width: 850px) {
  .under-top__title {
    top: 60%;
  }
}
@media screen and (max-width: 550px) {
  .under-top__title {
    line-height: 2.2rem;
  }
}
.under-top__title--sub {
  font-size: 12px;
  font-weight: normal;
}

/*--------------------------------
デイリーページ 
---------------------------------*/
.rp-daily-section {
  margin: 160px 0;
}
@media screen and (max-width: 550px) {
  .rp-daily-section {
    margin: 120px 0;
  }
}
.rp-daily-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 160px 0;
}
@media screen and (max-width: 550px) {
  .rp-daily-list {
    margin: 120px 0;
  }
}
.rp-daily-left {
  width: 46%;
}
@media screen and (max-width: 767px) {
  .rp-daily-left {
    width: 100%;
  }
}
.rp-daily-right {
  width: 50%;
  margin-left: 20px;
}
@media screen and (max-width: 767px) {
  .rp-daily-right {
    width: 100%;
    margin-left: 0;
  }
}
.rp-daily-time {
  color: #fff;
  font-family: "Itim", cursive;
  font-size: 38px;
  letter-spacing: 0.6rem;
}
@media screen and (max-width: 767px) {
  .rp-daily-time {
    font-size: 24px;
    margin: 44px 0 32px 0;
  }
}
.rp-daily-title {
  margin: 32px 0;
  font-size: 38px;
  letter-spacing: 0.7rem;
}
@media screen and (max-width: 767px) {
  .rp-daily-title {
    margin: 24px 0;
    font-size: 28px;
  }
}
.rp-daily-text {
  line-height: 2.8rem;
  margin-bottom: 32px;
}
.rp-daily-recommen {
  padding: 8px 16px;
}
.rp-daily-recommen__title {
  text-decoration: underline;
  font-size: 22px;
  color: #9AB176;
}
.rp-daily-recommen__list {
  margin: 16px 0;
}
.rp-daily-recommen__item {
  display: block;
  position: relative;
  padding-left: 1.5em;
  line-height: 2.2rem;
}
.rp-daily-recommen__item span {
  position: absolute;
  top: 0;
  left: 0;
}

._green-time {
  padding: 4px 6px 4px 12px;
  background: #A9B892;
}
@media screen and (max-width: 767px) {
  ._green-time {
    padding: 6px 8px 6px 12px;
  }
}
._green-title {
  color: #A9B892;
  font-weight: 500;
}
._green-title__recommen {
  color: #A9B892;
  font-weight: 500;
  letter-spacing: 0.2rem;
}
._green-frame {
  border: 2px solid #A9B892;
}

._orange-time {
  padding: 4px 44px 4px 12px;
  background: #D68654;
}
@media screen and (max-width: 767px) {
  ._orange-time {
    padding: 6px 32px 6px 12px;
  }
}
._orange-title {
  color: #D68654;
  font-weight: 500;
}
._orange-title__recommen {
  color: #D68654;
  font-weight: 500;
  letter-spacing: 0.2rem;
}
._orange-frame {
  border: 2px solid #D68654;
}

._pink-time {
  padding: 4px 44px 4px 12px;
  background: #FD8A8A;
}
@media screen and (max-width: 767px) {
  ._pink-time {
    padding: 6px 32px 6px 12px;
  }
}
._pink-title {
  color: #FD8A8A;
  font-weight: 500;
}
._pink-title__recommen {
  color: #FD8A8A;
  font-weight: 500;
  letter-spacing: 0.2rem;
}
._pink-frame {
  border: 2px solid #FD8A8A;
}

._blue-time {
  padding: 4px 44px 4px 12px;
  background: #9AC6DD;
}
@media screen and (max-width: 767px) {
  ._blue-time {
    padding: 6px 32px 6px 12px;
  }
}
._blue-title {
  color: #9AC6DD;
  font-weight: 500;
}
._blue-title__recommen {
  color: #9AC6DD;
  font-weight: 500;
  letter-spacing: 0.2rem;
}
._blue-frame {
  border: 2px solid #9AC6DD;
}

.swiper {
  min-height: unset;
  padding: 0;
}

.slider-thumbnail {
  margin-top: 32px;
}
.slider-thumbnail .swiper-slide {
  opacity: 0.4;
  transition: opacity 0.5s;
  width: 33.3333333333%;
}
.slider-thumbnail .swiper-slide-thumb-active {
  opacity: 1;
}

.slider-thumbnail02 {
  margin-top: 32px;
}
.slider-thumbnail02 .swiper-slide {
  opacity: 0.4;
  transition: opacity 0.5s;
  width: 33.3333333333%;
}
.slider-thumbnail02 .swiper-slide-thumb-active {
  opacity: 1;
}

.slider-thumbnail03 {
  margin-top: 32px;
}
.slider-thumbnail03 .swiper-slide {
  opacity: 0.4;
  transition: opacity 0.5s;
  width: 33.3333333333%;
}
.slider-thumbnail03 .swiper-slide-thumb-active {
  opacity: 1;
}

.slider-thumbnail04 {
  margin-top: 32px;
}
.slider-thumbnail04 .swiper-slide {
  opacity: 0.4;
  transition: opacity 0.5s;
  width: 33.3333333333%;
}
.slider-thumbnail04 .swiper-slide-thumb-active {
  opacity: 1;
}

/*--------------------------------
お知らせ一覧ページ
---------------------------------*/
.rp-news-section {
  margin: 160px 0;
}
@media screen and (max-width: 550px) {
  .rp-news-section {
    margin: 120px 0;
  }
}
.rp-news-item {
  padding: 24px 12px;
  border-bottom: 1px dotted #77787B;
}
@media screen and (max-width: 768px) {
  .rp-news-item {
    padding: 16px 12px;
  }
}
.rp-news-item:first-child {
  border-top: 1px dotted #77787B;
}
.rp-news-item a:hover {
  opacity: 0.6;
}
.rp-news-item__date {
  margin-right: 44px;
  opacity: 0.8;
}
@media screen and (max-width: 550px) {
  .rp-news-item__date {
    margin-right: 24px;
  }
}