$btn_brown: #765D11;
$title_brown: #987406;
$normal_brown: #BFB08C;
$light_brown: #E8D6AB;

$black: #333;
$white: #fff;

/*--------------------------------
下層ページ共通 
---------------------------------*/
.rp-lower-top {
    margin-top: 90px;
    padding-top: 160px;

    @media screen and (max-width: 768px) {
        margin-top: 80px;
        padding-top: 80px;
    }
}

/*--------------------------------
デイリーページ 
---------------------------------*/


.rp-daily {
    &-section {
        background: url('../../dist/images/yellow_bk_pc.jpg');
        background-size: cover;
        background-repeat: repeat;
        margin-top: 120px;
        padding-bottom: 180px;

        @media screen and (max-width: 768px) {
            background: url('../../dist/images/yellow_bk_sp.jpg');
            background-size: contain;
            background-repeat: repeat;
            margin-top: 60px;
            padding-bottom: 90px;
        }
    }

    &-list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 120px 0;

        @media screen and (max-width: 768px) {
            padding: 60px 0;
        }
    }

    &-left {
        width: 52%;

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &-right {
        width: 45%;
        margin-left: 20px;

        @media screen and (max-width: 768px) {
            width: 100%;
            margin-left: 0;
        }
    }

    &-time {
        position: relative;
        font-family: "Itim", cursive;
        font-size: 32px;
        letter-spacing: 0.4rem;
        color: $title_brown;

        &::before {
            content: '♦︎';
            position: absolute;
            font-size: 28px;
            top: 5px;
            color: $title_brown;
        }

        & span {
            margin-left: 36px;
        }

        @media screen and (max-width: 768px) {
            margin: 24px 0 28px;
        }
    }

    &-title {
        margin: 24px 0;
        font-size: 38px;
        font-weight: 500;
        letter-spacing: 0.4rem;
        line-height: 5rem;
        color: $title_brown;

        @media screen and (max-width: 768px) {
            font-size: 28px;
            line-height: 3rem;
        }
    }

    &-text {
        line-height: 2.2rem;
        margin-bottom: 32px;
    }

    &-recommen {
        padding: 8px 16px;
        border: 1px solid $title_brown;

        &__title {
            text-decoration: underline;
            font-size: 20px;
            color: $title_brown;
        }

        &__list {
            margin: 16px 0;
        }

        &__item {
            display: block;
            position: relative;
            padding-left: 1.5em;
            line-height: 2.2rem;

            & span {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}


// スライダー部分
.swiper {
    min-height: unset;
    padding: 0;
}

.slider .swiper-wrapper img {
    border-radius: 0 80px 0 0;
}

.slider02 .swiper-wrapper img {
    border-radius: 0 80px 0 0;
}

.slider03 .swiper-wrapper img {
    border-radius: 0 80px 0 0;
}

.slider04 .swiper-wrapper img {
    border-radius: 0 80px 0 0;
}

.slider-thumbnail {
    margin-top: 32px;

    & .swiper-slide {
        opacity: .4;
        transition: opacity .5s;
        width: calc(100% / 3);
    }

    & .swiper-slide-thumb-active {
        opacity: 1;
    }
}

.slider-thumbnail02 {
    margin-top: 32px;

    & .swiper-slide {
        opacity: .4;
        transition: opacity .5s;
        width: calc(100% / 3);
    }

    & .swiper-slide-thumb-active {
        opacity: 1;
    }
}

.slider-thumbnail03 {
    margin-top: 32px;

    & .swiper-slide {
        opacity: .4;
        transition: opacity .5s;
        width: calc(100% / 3);
    }

    & .swiper-slide-thumb-active {
        opacity: 1;
    }
}

.slider-thumbnail04 {
    margin-top: 32px;

    & .swiper-slide {
        opacity: .4;
        transition: opacity .5s;
        width: calc(100% / 3);
    }

    & .swiper-slide-thumb-active {
        opacity: 1;
    }
}

/*--------------------------------
ラインナップ
---------------------------------*/
.rp-lineup {
    &-section {
        @extend .rp-daily-section;
    }

    &-list {
        padding: 120px 0;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(3, 1fr);

        @media screen and (max-width: 900px) {
            grid-template-columns: repeat(2, 1fr);
            padding: 60px 0;
        }

        @media screen and (max-width: 550px) {
            grid-template-columns: repeat(1, 1fr);
            padding: 60px 0;
        }
    }

    &-item {
        padding: 24px;
        background: $white;
        border-radius: 30px;

        &__title {
            font-size: 1.4rem;
            margin: 16px 0;
            font-weight: 500;

            @media screen and (max-width: 768px) {
                font-size: 1.2rem;
            }
        }

        &__text {
            font-size: 0.8rem;
            line-height: 1.4rem;

        }

    }

    &-img {
        position: relative;

        & img {
            border-radius: 30px
        }

        &__tag {
            position: absolute;
            top: 0;
            content: '';
            width: 90px;
            height: 60px;
            background: #D63333;
            border-radius: 30px 0 0 0;
            color: $white;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.8rem;
        }
    }
}

/*--------------------------------

お知らせ一覧ページ

---------------------------------*/
.rp-news {
    &-section {
        padding: 120px 0;

        @media screen and (max-width: 768px) {
            padding: 60px 0;
        }
    }

    &-item {
        padding: 24px 12px;
        border-bottom: 1px dotted $btn_brown;

        @media screen and (max-width: 768px) {
            padding: 16px 12px;
        }

        & a:hover {
            opacity: 0.6;
        }

        &__date {
            margin-right: 44px;
            opacity: 0.8;

            @media screen and (max-width: 768px) {
                margin-right: 24px;
            }
        }
    }
}

/*--------------------------------

お知らせページ

---------------------------------*/
.rp-page {
    &-section{
        margin-top: 60px;

        @media screen and (max-width: 768px) {
            margin-top: 30px;
        }
    }
    &-item {
        margin: 0 auto;
        text-align: center;
        width: 80%;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        &__img {

            img {
                width: 100%;
            }
        }

        &__text {
            margin: 24px 0;
            text-align: left;
            line-height: 2.2rem;
        }
    }


}
