/*--------------------------------
基本設定
---------------------------------*/

/* フォント */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Itim&family=Zen+Kaku+Gothic+New:wght@300&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

.zen-maru gothic-regular {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 700;
    font-style: normal;
}

.itim-regular {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

/* カラー */
$light_green: #A9B892;
$green: #9AB176;
$deep_brown: #A58113;
$normal_brown: #BFB08C;
$light_brown: #E8D6AB;
$pink: #FD8A8A;
$orange: #D68654;
$blue: #9AC6DD;
$black: #333;
$white: #fff;

/* 全体設定*/
body {
    letter-spacing: .08ex;
    color: $black;
    font-size: 15px;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    box-sizing: border-box;

    @media screen and (max-width: 768px) {
        overflow-x: hidden;
    }
}

a {
    transition: opacity .3s;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    border-style: none;
    object-fit: cover;
}

ul,
li {
    list-style: none;
}

.pc-only {
    display: block;

    @media screen and (max-width: 550px) {
        display: none;
    }
}

.sp-only {
    display: none;

    @media screen and (max-width: 550px) {
        display: block;
    }
}

._anchor-just {
    display: block;
    padding-top: 30px;
    margin-top: -30px;

    @media screen and (max-width: 550px) {
        padding-top: 10px;
        margin-top: -10px;
    }
}

/*--------------------------------
レイアウト
---------------------------------*/

.rp__site__inner {
    max-width: 1200px;
    margin: 0 auto;

    @media screen and (min-width:1800px) {
        max-width: 1600px;
    }

    @media screen and (max-width: 1100px) {
        padding: 0 10px;
    }
}

.rp__site__annotion {
    &__item {
        display: block;
        position: relative;
        padding-left: 1.5em;
        font-size: 0.8rem;
        line-height: 1.6rem;
        opacity: 0.6;

        & span {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

._pd-0 {
    padding: 0;
}

._mb-0 {
    margin-bottom: 0 !important;
}


/*--------------------------------
ヘッダー・グローバルナビ
---------------------------------*/
/*　PC(851〜)　*/
.rp-header {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 105px;
    background: $white;

    @media screen and (max-width: 850px) {
        height: 60px;
    }

    @media screen and (max-width: 850px) {
        background: unset;
    }


}

.header-gnav {

    &__pc {
        display: block;

        @media screen and (max-width: 850px) {
            display: none
        }
    }

    &__sp {
        display: none;

        @media screen and (max-width: 850px) {
            display: block;
        }
    }
}

.gnav {

    &-logo {
        float: left;
        margin-top: 16px;

        @media screen and (max-width: 990px) {
            width: 20%;
        }

        @media screen and (max-width: 930px) {
            width: 16%;
        }



        img {
            width: 70%;

            @media screen and (max-width: 990px) {
                width: 100%;
            }

        }
    }

    &-list {
        float: right;
        margin-top: 32px;

        @media screen and (max-width: 930px) {
            margin-top: 22px;
        }

    }

    &-item {
        position: relative;
        float: left;
        text-align: left;
        margin-right: 44px;
        font-size: 14px;
        font-weight: 700;

        @media screen and (min-width:1900px) {
            margin-right: 56px;
        }

        @media screen and (max-width: 1150px) {
            margin-right: 28px;
        }

        @media screen and (max-width: 930px) {
            margin-right: 22px;
        }



        &:last-child {
            margin-right: 0;
        }

        a {
            position: relative;
            display: block;
            line-height: 1.3rem;
            letter-spacing: 0.2em;
            transition: .3s;
            font-size: 13px;

            :hover {
                opacity: 0.8;
            }

        }

        &__tell {
            width: 140px;
            background: $green;
            padding: 12px 0 12px 20px;
            margin-top: -4px;

            &--flex {
                display: flex;
                align-items: center;

                img {
                    width: 22%;
                    margin-right: 12px;
                }

                p {
                    font-size: 20px;
                    color: $white;
                }
            }
        }
    }
}


/*　SP(〜850)　*/
.ham-gnav {
    pointer-events: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: $black;
    transition: 0.8s all;
    z-index: 0;
    background: $white;


    &-list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90%;
        padding-top: 80px;
        margin: 0 auto;
        text-align: left;
    }

    &-logo {
        width: 100%;
        text-align: center;
        margin-bottom: 32px;

        & img {
            width: 50%;

            @media screen and (min-width: 650px) {
                width: 30%;
            }
        }
    }

    &-item {
        width: 42%;
        margin-bottom: 32px;
        font-size: 12px;
        border-bottom: 1px solid $black;
    }

    &-sns {
        width: 80%;
        margin-top: 32px;
        text-align: center;

        & img {
            margin-right: 4px;

            &:last-child {
                margin-right: 0;
                margin-left: 4px;
            }
        }
    }


}


/* 開く */
#hamBtn {
    position: fixed;
    top: 0;
    right: 0;
    padding: 8px;
    outline: none;
    border: none;
    background: $normal_brown;
    width: 48px;
    height: 48px;
    cursor: pointer;
    transition: 0.8s all;

    @media screen and (min-width: 650px) {
        width: 60px;
        height: 60px;
    }

}

#hamBtn::before,
#hamBtn::after {
    content: '';
    display: block;
    height: 2px;
    background-color: $white;
    transform: translateY(13px);
    transition: 0.3s ease-in-out;
}

#hamBtn::before {
    transform: translate(0, -4px);
}

#hamBtn::after {
    transform: translate(0, 4px);
}

/* 閉じる */
.open {
    #hamBtn {
        z-index: 100;

        &::before {
            transform: translate(0, 1.5px) rotate(-45deg);
            color: $black;
        }

        &:after {
            transform: translate(0, 0) rotate(45deg);
            color: $black;
        }
    }

    .ham-gnav {
        pointer-events: auto;
        opacity: 1;
    }
}

/*--------------------------------
スタート
---------------------------------*/
.top-start {
    background: $white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;

    & p {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: none;
        z-index: 101;
    }
}

/*--------------------------------
TOP
---------------------------------*/
.rp-top-kv {
    margin-top: 130px;

    @media screen and (max-width: 850px) {
        margin-top: 110px;
    }

    @media screen and (max-width: 550px) {
        margin-top: 0;
    }


}

.top-kv {
    position: relative;
    width: 100%;

    & img {
        float: right;
        width: 90%;
        height: 100%;
        right: 0;

        @media screen and (max-width: 550px) {
            width: 100%;
        }
    }

    &-title {
        position: absolute;
        left: 3%;
        bottom: 7%;
        z-index: 3;
        padding: 4px 0 8px 24px;
        background: $white;
        font-size: 32px;
        font-weight: 500;
        letter-spacing: 1rem;


        @media screen and (max-width: 800px) {
            font-size: 24px;
        }


        @media screen and (max-width: 550px) {
            left: 0;
            bottom: 5%;
            padding: 4px 0 8px 8px;
            font-size: 20px;
        }

    }
}

/*--------------------------------
About
---------------------------------*/

.rp-top-about {
    margin-top: 320px;

    @media screen and (max-width: 550px) {
        margin-top: 160px;
    }
}

.top-about {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
        width: 80%;
    }

    @media screen and (max-width: 550px) {
        width: 100%;
    }

    &__left {
        width: 40%;

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &__right {
        width: 60%;

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &-title {
        letter-spacing: 0.6rem;
        line-height: 1.3rem;
        color: $deep_brown;
        font-size: 72px;
        font-weight: normal;
        font-family: "Itim", cursive;

        &__text {
            font-size: 10px;
            margin-left: 2px;
        }

        @media screen and (max-width: 768px) {
            font-size: 46px;
        }
    }

    &-sns {
        margin: 32px 0;

        img {
            margin-right: 12px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &-text {
        line-height: 2rem;
        letter-spacing: 0.2rem;
    }

    &-img {
        position: absolute;
        top: 200px;
        left: 0;
        width: 35%;

        @media screen and (min-width: 1600px) {
            width: 40%;
        }

        @media screen and (max-width: 768px) {
            width: 45%;
            top: -50px;
            left: unset;
            right: 0;
        }

        @media screen and (max-width: 550px) {
            top: -10px;
        }
    }
}

/*--------------------------------
Concept
---------------------------------*/
.rp-top-concept {
    background: url('../img/concept_bk_pc02.png');
    background-size: contain;
    background-repeat: repeat;
    margin-top: 320px;
    padding: 80px 0;

    @media screen and (min-width: 1100px) {
        background: url('../img/concept_bk_pc02.png');
        background-size: cover;
        background-repeat: repeat;
    }

    @media screen and (max-width: 768px) {
        background: url('../img/concept_bk_sp02.png');
        background-size: contain;
        background-repeat: repeat;
        background-position: 100% auto;
    }

    @media screen and (max-width: 550px) {
        margin-top: 160px;
    }
}

.top-concept {
    &-title {
        text-align: center;
        color: $deep_brown;
        font-size: 72px;
        font-weight: normal;
        font-family: "Itim", cursive;
        letter-spacing: 0.6rem;

        &__text {
            margin: 32px 0 120px;
            text-align: center;
            letter-spacing: 0.4rem;
            color: $deep_brown;
            font-weight: normal;
            opacity: 0.8;

            @media screen and (max-width: 550px) {
                margin: 32px 0 84px;
            }
        }


        @media screen and (max-width: 550px) {
            font-size: 48px;
        }
    }

    &-list {
        width: 100%;
    }

    &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 120px;

        &:nth-child(2n) {
            flex-direction: row-reverse;
        }

        @media screen and (max-width: 550px) {
            margin-bottom: 84px;
        }

        &__left {
            width: 55%;

            img {
                width: 100%;
                border-top-right-radius: 80px 80px;
            }

            & ._left-radius {
                border-radius: 80px 0 0 0
            }

            @media screen and (max-width: 768px) {
                width: 90%;
            }

            @media screen and (max-width: 550px) {
                width: 100%;
            }
        }

        &__right {
            width: 40%;

            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }

        &__title {
            color: $deep_brown;
            font-size: 36px;
            font-weight: normal;

            span {
                margin-left: 72px;
                letter-spacing: 0.6rem;
            }

            @media screen and (max-width: 768px) {
                margin: 32px 0;
                font-size: 24px;
            }

        }

        & .number_01 {
            position: relative;

            &::before {
                position: absolute;
                top: 6px;
                content: '';
                background: url(../img/number_01.png);
                background-size: cover;
                width: 48px;
                height: 48px;

                @media screen and (max-width: 768px) {
                    top: -4px;
                }
            }

        }

        & .number_02 {
            @extend .number_01;

            &::before {
                background: url(../img/number_02.png);
                background-size: cover;
            }
        }

        & .number_03 {
            @extend .number_01;

            &::before {
                background: url(../img/number_03.png);
                background-size: cover;
            }
        }

        &__text {
            margin: 44px 0 24px;
            line-height: 2.8rem;
            font-weight: normal;
        }

        &__modal{
            float: right;
            text-decoration: underline;
        }
    }

    &-modal{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;

        &__img{
            text-align: center;
            width: 80%;

            @media screen and (max-width: 550px) {
                width: 80%;
            }

            & img{
                border-radius: 50%;
            }
        }

        &__write{
            width: 100%;
            margin-top: 12px;
            margin-left: 32px;

            @media screen and (max-width: 550px) {
                width: 100%;
                margin-left: 0;
                margin: 32px 0 44px;
            }
        }

        &__title{
            margin-top: 24px;
            font-size: 28px;
            & span{
                border-bottom: 3px solid $green;
            }
        }

        &__text{
            margin-top: 32px;
            margin-bottom: 48px;
            line-height: 2rem;
        }
    }
}

/*--------------------------------
Daily
---------------------------------*/
.rp-top-daily {
    background: url('../img/yellow_bk_pc.jpg');
    background-size: cover;
    background-repeat: repeat;
    margin-top: 320px;

    @media screen and (max-width: 768px) {
        background: url('../img/yellow_bk_sp.jpg');
        background-size: contain;
        background-repeat: repeat;
    }

    @media screen and (max-width: 550px) {
        margin-top: 160px;
    }
}

.top-daily {
    padding: 128px 0;

    @media screen and (max-width: 768px) {
        padding: 84px 0;
    }

    &-title {
        @extend .top-concept-title;
        position: relative;

        &::before {
            content: '';
            background: url('../img/daily_title_left.png');
            background-size: cover;
            position: absolute;
            top: 5%;
            left: 20%;
            width: 80px;
            height: 80px;
            opacity: 0.6;
            transform: rotate(350deg);

            @media screen and (min-width: 1500px) {
                left: 30%;
            }

            @media screen and (max-width: 750px) {
                top: 7%;
                left: 12%;
                width: 70px;
                height: 70px;
            }

            @media screen and (max-width: 550px) {
                top: 1%;
                left: 2%;
                width: 60px;
                height: 60px;
            }
        }

        &::after {
            content: '';
            background: url('../img/daily_title_right.png');
            background-size: cover;
            position: absolute;
            top: 5%;
            right: 20%;
            width: 80px;
            height: 80px;
            opacity: 0.6;
            transform: rotate(20deg);

            @media screen and (min-width: 1500px) {
                right: 30%;
            }

            @media screen and (max-width: 750px) {
                top: 7%;
                right: 12%;
                width: 70px;
                height: 70px;
            }

            @media screen and (max-width: 550px) {
                top: 12%;
                right: 5%;
                width: 60px;
                height: 60px;
            }
        }


        &__text {
            @extend .top-concept-title__text;
            margin-bottom: 64px;
        }
    }

    &-write {
        display: none;
        margin: 0 auto;
        margin-top: 32px;

        @media screen and (max-width: 550px) {
            width: 100%;
            margin-top: 24px;
        }

        &__number {
            color: $deep_brown;
            font-size: 62px;
            font-weight: normal;
            font-family: "Itim", cursive;

            @media screen and (max-width: 550px) {
                width: 100%;
            }
        }

        &__title {
            margin-bottom: 24px;
            color: $deep_brown;
            font-size: 36px;
            font-weight: 500;
            letter-spacing: 0.6rem;

            &--time {
                float: right;
                font-size: 32px;
                line-height: 3.2rem;

                @media screen and (max-width: 550px) {
                    margin-left: 6px;
                    float: unset;
                    font-size: 24px;
                }
            }

            @media screen and (max-width: 550px) {
                margin-bottom: 12px;
                font-size: 28px;
            }
        }

        &__text {
            line-height: 1.8rem;

            @media screen and (max-width: 550px) {
                line-height: 2rem;
            }
        }
    }

}

//*-- スライダー　--*//
.swiper {
    width: min(100%, 900px);
    min-height: 820px;
    margin: 0 auto;
    padding: 0 50px;

    @media screen and (max-width: 550px) {
        min-height: 700px;
        padding: 0 20px;
    }
}

.swiper-slide {
    width: 100%;
    height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    top: 35%;
    width: 24px;
    height: 40px;
    background-size: 24px 40px;
    transform: translateY(-50%);
    margin-top: 0;

    @media screen and (max-width: 950px) {
        top: 27%;
    }

    @media screen and (max-width: 550px) {
        top: 18%;
        width: 12px;
        height: 20px;
    }

    @media screen and (max-width: 400px) {
        top: 16%;
    }
}


.swiper-button-next {
    background-image: url('../img/slider_next.png');
    right: 2px;
    left: auto;

    @media screen and (max-width: 550px) {
        background-image: url('../img/slider_next.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

}

.swiper-button-prev {
    background-image: url('../img/slider_back.png');
    right: auto;
    left: 0;

    @media screen and (max-width: 550px) {
        background-image: url('../img/slider_back.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    display: none;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    display: none;
}

.swiper-slide-active .top-daily-write {
    display: inline-block;
}

/*--------------------------------
News
---------------------------------*/
.rp-top-news {
    margin-top: 320px;

    @media screen and (max-width: 550px) {
        margin-top: 160px;
    }
}

.top-news {
    position: relative;
    width: 90%;
    margin: 0 auto;

    @media screen and (max-width: 550px) {
        width: 96%;
    }

    &-flex {
        display: flex;
        justify-content: baseline;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    &-right {
        width: 60%;

        @media screen and (max-width: 550px) {
            width: 100%;
        }
    }

    &-left {
        position: relative;
        min-height: 400px;
        width: 40%;

        @media screen and (max-width: 900px) {
            min-height: 360px;
        }

        @media screen and (max-width: 550px) {
            min-height: 120px;
            width: 100%;
            margin-bottom: 44px;
        }


    }

    &-title {
        @extend .top-about-title;

        &__text {
            @extend .top-about-title__text;
        }
    }

    &-link {
        position: absolute;
        bottom: 0;
        text-decoration: underline;
        font-size: 18px;
        letter-spacing: 0.2rem;

        &:hover {
            opacity: 0.8;
        }

    }

    &-img {
        position: absolute;
        top: 32%;
        left: 6%;
        width: 25%;

        @media screen and (min-width: 1200px) {
            width: 15%;
            left: 8%;
        }

        @media screen and (max-width: 550px) {
            top: 0;
            right: 8%;
            left: unset;
            width: 38%;
        }
    }

    &-list {

        & a:hover {
            opacity: 0.6;
        }

    }

    &-item {
        border-bottom: 1px solid #8B8B8B;
        padding-bottom: 16px;
        margin-bottom: 52px;
        font-weight: 500;

        &__date {
            margin-right: 44px;
            color: #707070;
            font-size: 14px;

            @media screen and (max-width: 550px) {
                margin-right: 24px;
            }
        }
    }
}


/*--------------------------------
Info
---------------------------------*/
.rp-top-info {
    position: relative;
    margin-top: 320px;

    @media screen and (max-width: 550px) {
        margin-top: 160px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 650px;
        background: url('../img/info_bk_pc.jpg');
        background-repeat: no-repeat;
        background-size: contain;

        @media screen and (max-width: 550px) {
            height: 450px;
            background: url('../img/info_bk_sp.jpg');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        z-index: -10;
        width: 100%;
        height: 1250px;
        background: url('../img/yellow_bk_pc.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        @media screen and (max-width: 1200px) {
            height: 1350px;
        }

        @media screen and (max-width: 900px) {
            height: 1400px;
        }

        @media screen and (max-width: 768px) {
            height: 1500px;
        }


        @media screen and (max-width: 550px) {
            height: 1400px;
        }

        @media screen and (max-width: 400px) {
            height: 1450px;
        }

    }
}

.top-info {
    width: 90%;
    margin: 0 auto;

    @media screen and (max-width: 550px) {
        width: 96%;
    }

    &-box {
        position: relative;
        top: 180px;
        z-index: 3;
        border-radius: 30px;
        padding: 112px 70px;
        background: $white;

        @media screen and (max-width: 880px) {
            top: 140px;
        }

        @media screen and (max-width: 768px) {
            top: 100px;
            padding: 96px 60px;
        }

        @media screen and (max-width: 630px) {
            top: 60px;
            padding: 80px 50px;
        }

        @media screen and (max-width: 550px) {
            top: 140px;
            padding: 48px 30px;
        }
    }

    &-title {
        @extend .top-about-title;
        letter-spacing: 0.05rem;

        &__text {
            @extend .top-about-title__text;
        }
    }

    &-list {

        margin-bottom: 32px;

    }

    &-item {
        margin: 44px 0;
        padding: 16px 0;

        &:last-child {
            margin: 44px 0 0;
        }

        &__title {
            width: 240px;
            float: left;
            font-size: 22px;
            font-weight: bold;
            line-height: 1rem;

            @media screen and (max-width: 768px) {
                width: auto;
                float: none;
            }

        }

        &__english {
            font-size: 12px;
            line-height: 1.2rem;
            margin-left: 2px;
        }

        &__text {
            margin-top: -13px;
            margin-left: 240px;
            line-height: 2rem;
            letter-spacing: 0.3rem;
            font-size: 22px;
            font-weight: 500;

            @media screen and (max-width: 768px) {
                font-size: 18px;
                margin-top: 24px;
                margin-left: 0;
            }

            &--just {
                @extend .top-info-item__text;
                margin-top: -7px;

                @media screen and (max-width: 768px) {
                    margin-top: 24px;
                }

            }
        }

        &-flex {
            display: flex;
            justify-content: flex-start;

            @media screen and (max-width: 1100px) {
                flex-wrap: wrap;
            }

            margin: 32px 0;

            width: 100%;

            &__item {
                display: flex;
                align-items: flex-start;
                width: 50%;
                margin-right: 24px;

                &:last-child {
                    margin-right: 0;
                }

                @media screen and (max-width: 1100px) {
                    width: 100%;
                    margin-right: 0;

                    &:last-child {
                        margin-top: 24px;
                    }
                }

            }

            &__img {
                width: 15%;

                @media screen and (max-width: 875px) {
                    width: 18%;
                }

                @media screen and (max-width: 768px) {
                    width: 15%;
                }
            }

            &__img img {
                width: 100%;
            }

            &__text {
                width: 100%;
                margin-top: -4px;
                margin-left: 12px;
                font-size: 12px;
                font-weight: 500;
                line-height: 1.6rem;

            }
        }

        & a {
            float: right;
            font-size: 18px;
            letter-spacing: 0.2rem;
            text-decoration: underline;

            &:hover {
                opacity: 0.8;
            }

        }
    }

    &-tell {
        display: block;
        width: 70%;
        margin: 0 auto;
        margin-top: 44px;

        @media screen and (max-width: 860px) {
            width: 100%;
        }

        background: $green;
        color: $white;
        padding: 32px 0 16px;
        padding-left: 54px;

        @media screen and (max-width: 550px) {
            padding: 24px 0 8px;
            padding-left: 54px;
        }

        @media screen and (max-width: 400px) {
            padding-left: 46px;
        }

        &__text {
            margin-top: -18px;
            text-align: center;
            font-size: 12px;
            line-height: 1.8rem;
            letter-spacing: 0.18rem;

        }


        &__number {
            position: relative;
            font-size: 32px;
            font-family: "Itim", cursive;
            letter-spacing: 0.3rem;

            @media screen and (max-width: 550px) {
                font-size: 26px;
            }

            @media screen and (max-width: 400px) {
                font-size: 22px;
            }

            &:before {
                content: '';
                display: inline;
                position: absolute;
                top: -9px;
                left: -23%;
                width: 38px;
                height: 38px;
                background: url('../img/tell_icon.png');
                background-repeat: no-repeat;
                background-size: contain;

                @media screen and (max-width: 550px) {
                    top: -15px;
                }

                @media screen and (max-width: 400px) {
                    left: -22%;
                }

            }
        }

    }
}

/*--------------------------------
Footer
---------------------------------*/
.rp-footer {
    position: relative;
    margin: 520px 0 0;
    background: $normal_brown;
    z-index: -10;

    @media screen and (max-width: 768px) {
        margin: 380px 0 0;
    }

    &::before {
        content: '';
        position: absolute;
        z-index: -9;
        width: 100%;
        height: 80px;
        background: $light_brown;

        @media screen and (max-width: 550px) {
            height: 60px;
        }
    }
}

.footer {
    &-sns {
        text-align: center;
        padding-top: 24px;

        @media screen and (max-width: 550px) {
            padding-top: 12px;
        }

        & img {
            margin-right: 12px;

            &:last-child {
                margin-right: 0;
                margin-left: 12px;
            }
        }
    }

    &-list {
        margin-top: 52px;

        @media screen and (max-width: 550px) {
            margin-top: 32px;
        }
    }

    &-logo {
        width: 10%;

        @media screen and (max-width: 550px) {
            width: 30%;
        }
    }

    &-text {
        padding: 24px 0;
        color: $white;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.2rem;

        @media screen and (max-width: 550px) {
            padding: 18px 0;
        }
    }
}

/*--------------------------------
アニメーション
---------------------------------*/
.up-first {
    opacity: 0;
    visibility: hidden;
    transition: 2s;
    transform: translateY(40px);

}

.up-second {
    opacity: 0;
    visibility: hidden;
    transition: 4s;
    transform: translateY(40px);
}

.up-third {
    opacity: 0;
    visibility: hidden;
    transition: 6S;
    transform: translateY(40px);
}

.up-fourth {
    opacity: 0;
    visibility: hidden;
    transition: 8S;
    transform: translateY(40px);
}


.right {
    opacity: 0;
    visibility: hidden;
    transition: 3s;
    transform: translateX(40px);
}

.left {
    opacity: 0;
    visibility: hidden;
    transition: 3s;
    transform: translateX(-40px);
}

.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transform: translateX(0);
}