$btn_brown: #765D11;
$title_brown: #987406;
$normal_brown: #BFB08C;
$light_brown: #E8D6AB;

$black: #333;
$white: #fff;

/*--------------------------------
スタート
---------------------------------*/
.top-start {
    background: $white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;

    & p {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: none;
        z-index: 101;
    }
}

/*--------------------------------
TOP
---------------------------------*/
.rp-top-kv {
    margin-top: 60px;

    @media screen and (max-width: 920px) {
        margin-top: 0;
    }

}

.top-kv {
    position: relative;
    width: 100%;

    & img {
        float: right;
        width: 90%;
        height: 100%;
        right: 0;

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &-title {
        font-size: 32px;
        font-weight: 500;
        letter-spacing: 0.6rem;

        @media screen and (max-width: 768px) {
            font-size: 26px;
        }

        & span {
            background: $white;
            position: absolute;
            left: 40px;
            padding: 0 4px;
            bottom: 100px;
            z-index: 3;

            @media screen and (max-width: 768px) {
                left: 12px;
            }
        }

        & span:nth-child(1) {
            left: 4px;
            bottom: 170px;

            @media screen and (max-width: 768px) {
                left: 0;
            }
        }

    }
}

/*--------------------------------

About

---------------------------------*/

.rp-top-about {
    padding: 240px 0 80px 0;

    @media screen and (max-width: 768px) {
        padding-top: 120px 0 40px 0;
    }
}

.top-about {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    &__left {
        width: 40%;

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &__right {
        width: 60%;

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &-sns {
        margin: 32px 0;

        img {
            margin-right: 12px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &-text {
        line-height: 2.2rem;
        letter-spacing: 0.2rem;
    }

    &-img {
        position: absolute;
        top: 240px;
        left: 0;
        width: 35%;


        @media screen and (max-width: 768px) {
            width: 45%;
            top: -50px;
            left: unset;
            right: 0;
        }

    }
}

/*--------------------------------
Concept
---------------------------------*/
.rp-top-concept {
    position: relative;
    height: 2000px;
    margin-top: 240px;

    @media screen and (max-width: 768px) {
        margin-top: 60px;
        height: 3600px;
    }

    @media screen and (max-width: 500px) {
        height: 2400px;
    }

    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -5;
        background: url('../../dist/images/concept_bk_pc02.png');
        background-size: cover;
        background-repeat: repeat;

    }

}

.top-concept {

    &-list {
        width: 100%;
        border: 1px solid $btn_brown;
        background: $white;
        border-radius: 20px;
        padding: 75px;

        @media screen and (max-width: 768px) {
            padding: 24px;
        }
    }

    &-item {
        width: 100%;
        margin-bottom: 64px;

        &:last-child {
            margin-bottom: 0;
        }

        @media screen and (max-width: 768px) {
            margin-bottom: 44px;
        }

        &__title {
            position: relative;
            font-size: 36px;
            color: $btn_brown;
            letter-spacing: 0.4rem;
            font-weight: 500;

            & span {
                margin-left: 48px;

                @media screen and (max-width: 768px) {
                    margin-left: 32px;
                }
            }


            &::before {
                content: '♦︎';
                position: absolute;
                color: $btn_brown;
            }

            @media screen and (max-width: 768px) {
                font-size: 24px;
            }

        }

        &__text {
            margin: 24px 0;
            line-height: 1.6rem;

            @media screen and (max-width: 768px) {
                margin: 16px 0;
            }
        }

        &__img {
            width: 49%;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 768px) {
                width: 100%;
                flex-wrap: wrap;
            }

            & img {
                border-radius: 20px;
            }

            & img:nth-child(1) {
                margin-right: 8px;

                @media screen and (max-width: 768px) {
                    margin-right: 0;
                    margin-bottom: 12px;
                }
            }

            & img:nth-child(2) {
                margin-left: 8px;

                @media screen and (max-width: 768px) {
                    margin-left: 0;
                }
            }

        }
    }


    &-modal {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;

        &__img {
            text-align: center;
            width: 80%;

            @media screen and (max-width: 550px) {
                width: 80%;
            }

            & img {
                border-radius: 50%;
            }
        }

        &__write {
            width: 85%;
            margin-top: 12px;

            @media screen and (max-width: 550px) {
                width: 100%;
                margin-left: 0;
                margin: 32px 0 44px;
            }
        }

        &__title {
            margin-top: 24px;
            font-size: 28px;

            & span {
                border-bottom: 3px solid $btn_brown;
            }
        }

        &__text {
            margin-top: 24px;
            margin-bottom: 48px;
            line-height: 2rem;
        }
    }
}

/*--------------------------------
Daily
---------------------------------*/
.rp-top-daily {
    background: url('../../dist/images/yellow_bk_pc.jpg');
    background-size: cover;
    background-repeat: repeat;
    margin-top: 240px;

    @media screen and (max-width: 768px) {
        background: url('../../dist/images/yellow_bk_sp.jpg');
        background-size: contain;
        background-repeat: repeat;
        margin-top: 60px;
    }
}

.top-daily {
    padding: 128px 0;

    @media screen and (max-width: 768px) {
        padding: 64px 0;
    }

    &-img {
        border-radius: 20px 20px 20px 135px;
    }

    &-write {
        display: none;
        margin: 0 auto;
        margin-top: -20px;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        &__number {
            color: $title_brown;
            font-size: 64px;
            font-weight: normal;
            font-family: "Itim", cursive;

            @media screen and (max-width: 768px) {
                width: 100%;
                font-size: 48px;
            }
        }

        &__title {
            margin: 24px 0 24px 32px;
            color: $title_brown;
            font-size: 28px;
            font-weight: 500;
            letter-spacing: 0.2rem;

            @media screen and (max-width: 768px) {
                margin: 12px 0;
                font-size: 26px;
            }

            &--time {
                float: right;
                font-size: 26px;

                @media screen and (max-width: 768px) {
                    line-height: 4rem;
                    float: unset;
                    font-size: 24px;
                }
            }

        }

        &__text {
            margin-left: 32px;
            line-height: 1.8rem;

            @media screen and (max-width: 768px) {
                margin-left: 0;
                line-height: 2rem;
            }
        }
    }

}

/*--------------------------------
スライダー
---------------------------------*/
.swiper {
    width: min(100%, 900px);
    min-height: 820px;
    margin: 0 auto;
    padding: 0 50px;

    @media screen and (max-width: 768px) {
        min-height: 650px;
        padding: 0 20px;
    }
}

.swiper-slide {
    width: 100%;
    height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    top: 35%;
    width: 24px;
    height: 40px;
    background-size: 24px 40px;
    transform: translateY(-50%);
    margin-top: 0;

    @media screen and (max-width: 950px) {
        top: 27%;
    }

    @media screen and (max-width: 550px) {
        top: 18%;
        width: 12px;
        height: 20px;
    }

    @media screen and (max-width: 400px) {
        top: 16%;
    }
}


.swiper-button-next {
    background-image: url('../../dist/images/slider_next.png');
    right: 2px;
    left: auto;

    @media screen and (max-width: 550px) {
        background-image: url('../../dist/images/slider_next.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

}

.swiper-button-prev {
    background-image: url('../../dist/images/slider_back.png');
    right: auto;
    left: 0;

    @media screen and (max-width: 550px) {
        background-image: url('../../dist/images/slider_back.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    display: none;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    display: none;
}

.swiper-slide-active .top-daily-write {
    display: inline-block;
}

/*--------------------------------

News

---------------------------------*/
.rp-top-news {
    padding: 240px 0;
    background: $white;

    @media screen and (max-width: 768px) {
        padding: 60px 0;
    }
}

.top-news {
    position: relative;

    &-flex {
        display: flex;
        justify-content: baseline;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    &-right {
        width: 60%;

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &-left {
        position: relative;
        min-height: 400px;
        width: 40%;

        @media screen and (max-width: 900px) {
            min-height: 360px;
        }

        @media screen and (max-width: 768px) {
            min-height: 120px;
            width: 100%;
            margin-bottom: 44px;
        }


    }

    &-link {
        position: absolute;
        bottom: 0;
        text-decoration: underline;
        font-size: 18px;
        letter-spacing: 0.2rem;

        &:hover {
            opacity: 0.8;
        }

    }

    &-img {
        position: absolute;
        top: 40%;
        left: 6%;
        width: 22%;

        @media screen and (min-width: 1200px) {
            width: 15%;
            left: 8%;
        }

        @media screen and (max-width: 768px) {
            top: 0;
            right: 8%;
            left: unset;
            width: 38%;
        }
    }

    &-list {

        & a:hover {
            opacity: 0.6;
        }

    }

    &-item {
        border-bottom: 1px solid #8B8B8B;
        padding-bottom: 16px;
        margin-bottom: 52px;
        font-weight: 500;

        &__date {
            margin-right: 44px;
            color: #707070;
            font-size: 14px;

            @media screen and (max-width: 768px) {
                margin-right: 24px;
            }
        }
    }
}


/*--------------------------------
Info
---------------------------------*/
.rp-top-info {
    position: relative;
    height: 1800px;

    @media screen and (max-width: 768px) {
        height: 2000px;
    }


    &::before {
        content: '';
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 650px;
        background: url('../../dist/images/info_bk_pc.jpg');
        background-repeat: no-repeat;
        background-size: contain;

        @media screen and (max-width: 768px) {
            height: 450px;
            background: url('../../dist/images/info_bk_sp.jpg');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 1800px;
        background: url('../../dist/images/yellow_bk_pc.jpg');
        background-repeat: no-repeat;
        background-size: cover;


        @media screen and (max-width: 768px) {
            height: 2000px;
        }


    }
}

.top-info {

    &-box {
        position: relative;
        top: 180px;
        z-index: 3;
        border-radius: 30px;
        padding: 75px;
        background: $white;

        @media screen and (max-width: 880px) {
            top: 140px;
        }

        @media screen and (max-width: 768px) {
            top: 100px;
            padding: 24px;
        }

        @media screen and (max-width: 630px) {
            top: 60px;
        }

        @media screen and (max-width: 550px) {
            top: 140px;
        }
    }

    &-list {

        margin-bottom: 32px;

    }

    &-item {
        margin: 88px 0;

        &:last-child {
            margin: 44px 0 0;
        }

        &__title {
            width: 240px;
            float: left;
            font-size: 22px;
            font-weight: bold;
            line-height: 1rem;
            letter-spacing: 0.6rem;
            margin-top: 6px;

            @media screen and (max-width: 768px) {
                margin-top: 0;
                width: auto;
                float: none;
            }

        }

        &__english {
            font-size: 12px;
            line-height: 1.2rem;
            margin-left: 2px;
            letter-spacing: 0.08rem;
        }

        &__text {
            margin-left: 240px;
            line-height: 2rem;
            letter-spacing: 0.3rem;
            font-size: 22px;
            font-weight: 500;

            @media screen and (max-width: 768px) {
                font-size: 18px;
                margin-top: 24px;
                margin-left: 0;
            }

        }

        &-traffic {
            margin: 44px 0;
            width: 100%;

            &__item {
                margin-bottom: 32px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &__title {
                text-decoration: underline;
                margin-bottom: 8px;
                font-size: 16px;
            }

            &__explain {
                display: flex;
                align-items: center;
                margin-left: -10px;

            }


            &__text {
                width: 100%;
                margin-left: 12px;
                font-size: 12px;
                font-weight: 500;
                line-height: 1.6rem;

            }
        }

        & a {
            display: block;
            text-align: right;
            font-size: 18px;
            letter-spacing: 0.2rem;
            text-decoration: underline;

            &:hover {
                opacity: 0.6;
            }

        }
    }


    &-tell {
        position: relative;
        min-height: 80px;
        margin-top: 44px;

        &__btn {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70%;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 60px;
            margin-top: 0;

            @media screen and (max-width: 768px) {
                width: 100%;
            }

            &:before {
                content: '';
                display: inline;
                margin-right: 16px;
                width: 38px;
                height: 38px;
                background: url('../../dist/images/tell_icon.png');
                background-repeat: no-repeat;
                background-size: contain;
    
            }

            &:after{
                display: none;
            }

            &:hover {

                &::before {
                    background: url('../../dist/images/tell_icon_brown.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                }

            }
        }


        &__text {
            font-size: 12px;
            line-height: 1.8rem;
            letter-spacing: 0.18rem;
        }


        &__number {
            font-size: 32px;
            font-family: "Itim", cursive;
            letter-spacing: 0.3rem;

            @media screen and (max-width: 550px) {
                font-size: 26px;
            }

            @media screen and (max-width: 400px) {
                font-size: 22px;
            }
        }

    }
}