/*--------------------------------
基本設定
---------------------------------*/

$btn_brown: #765D11;
$title_brown: #987406;
$normal_brown: #BFB08C;
$light_brown: #E8D6AB;

$black: #333;
$white: #fff;

/* フォント */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Itim&family=Zen+Kaku+Gothic+New:wght@300&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

.zen-maru gothic-regular {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 700;
    font-style: normal;
}

.itim-regular {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

/* 全体設定*/
body {
    letter-spacing: .08ex;
    color: $black;
    font-size: 16px;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    box-sizing: border-box;
    overflow-x: hidden;

    @media screen and (max-width: 768px) {
        font-size: 14px;
        overflow-x: hidden;
    }
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    border-style: none;
    object-fit: cover;
}

ul,
li {
    list-style: none;
}

.pc-only {
    display: block;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.sp-only {
    display: none;

    @media screen and (max-width: 768px) {
        display: block;
    }
}

._anchor-just {
    display: block;
    padding-top: 30px;
    margin-top: -30px;

    @media screen and (max-width: 768px) {
        padding-top: 10px;
        margin-top: -10px;
    }
}

/*--------------------------------
共通パーツ
---------------------------------*/

// インナー
.rp-site-inner {
    max-width: 1330px;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;

    @media screen and (max-width: 768px) {
        padding: 0 10px;
    }
}

// セクションタイトル
.rp-section-title {
    margin-bottom: 44px;
    letter-spacing: 0.6rem;
    color: $title_brown;
    font-weight: normal;
    font-family: "Itim", cursive;

    &__main {
        font-size: 72px;

        @media screen and (max-width: 768px) {
            font-size: 46px;
        }

    }

    &__text {
        font-size: 14px;
        margin-top: 32px;
        margin-left: 2px;
    }

}

// 注意書き
.rp__site__annotion {
    &__item {
        display: block;
        position: relative;
        padding-left: 1.5em;
        font-size: 0.8rem;
        line-height: 1.6rem;
        opacity: 0.6;

        & span {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

// ボタン(白)
.rp-btn-white {
    display: block;
    position: relative;
    background: $white;
    width: 80%;
    margin: 0 auto;
    margin-top: 32px;
    padding: 18px 30px 18px 20px;
    text-align: center;
    color: $btn_brown;
    border: 1px solid $btn_brown;
    border-radius: 30px;

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    &::after {
        display: block;
        position: absolute;
        content: "";
        top: calc(50% - 5px);
        right: 40px;
        width: 40px;
        height: 5px;
        border-right: 2px solid $btn_brown;
        border-bottom: 1px solid $btn_brown;
        transform: skew(45deg);
        transition: .3s;
    }

    &:hover {
        background: $btn_brown;
        color: $white;

        &::after {
            border-right: 2px solid $white;
            border-bottom: 1px solid $white;
            right: 30px;
            width: 50px;
        }
    }
}

// ボタン(茶色)
.rp-btn-brown {
    display: block;
    position: relative;
    background: $btn_brown;
    width: 80%;
    margin: 0 auto;
    margin-top: 32px;
    padding: 18px 30px 18px 20px;
    text-align: center;
    color: $white;
    border: 1px solid $btn_brown;
    border-radius: 30px;

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    &::after {
        display: block;
        position: absolute;
        content: "";
        top: calc(50% - 5px);
        right: 40px;
        width: 40px;
        height: 5px;
        border-right: 2px solid $white;
        border-bottom: 1px solid $white;
        transform: skew(45deg);
        transition: .3s;
    }

    &:hover {
        background: $white;
        color: $btn_brown;

        &::after {
            border-right: 2px solid $btn_brown;
            border-bottom: 1px solid $btn_brown;
            right: 30px;
            width: 50px;
        }
    }
}

// 背景白（パララックスが重なる部分）
._bk-white {
    position: relative;
    background: $white;
    z-index: 1;
}

// 細かな設定
._pd-0 {
    padding: 0;
}

._mb-0 {
    margin-bottom: 0 !important;
}




/*--------------------------------
アニメーション
---------------------------------*/
.up-first {
    opacity: 0;
    visibility: hidden;
    transition: 2s;
    transform: translateY(40px);

}

.up-second {
    opacity: 0;
    visibility: hidden;
    transition: 4s;
    transform: translateY(40px);
}

.up-third {
    opacity: 0;
    visibility: hidden;
    transition: 6S;
    transform: translateY(40px);
}

.up-fourth {
    opacity: 0;
    visibility: hidden;
    transition: 8S;
    transform: translateY(40px);
}


.right {
    opacity: 0;
    visibility: hidden;
    transition: 3s;
    transform: translateX(40px);
}

.left {
    opacity: 0;
    visibility: hidden;
    transition: 3s;
    transform: translateX(-40px);
}

.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transform: translateX(0);
}