/*--------------------------------
基本設定
---------------------------------*/

$btn_brown: #765D11;
$title_brown: #987406;
$normal_brown: #BFB08C;
$light_brown: #E8D6AB;

$black: #333;
$white: #fff;

/* フォント */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Itim&family=Zen+Kaku+Gothic+New:wght@300&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

.zen-maru gothirp-regular {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 700;
    font-style: normal;
}

.itim-regular {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

/* 全体設定*/
body {
    letter-spacing: .08ex;
    color: $black;
    font-size: 16px;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    box-sizing: border-box;
    overflow-x: hidden;

    @media screen and (max-width: 768px) {
        font-size: 14px;
        overflow-x: hidden;
    }
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    border-style: none;
    object-fit: cover;
}

ul,
li {
    list-style: none;
}

.pc-only {
    display: block;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.sp-only {
    display: none;

    @media screen and (max-width: 768px) {
        display: block;
    }
}

._anchor-just {
    display: block;
    padding-top: 40px;
    margin-top: -40px;

    @media screen and (max-width: 768px) {
        padding-top: 20px;
        margin-top: -20px;
    }
}

/*--------------------------------
共通パーツ
---------------------------------*/

// インナー
.rp-site-inner {
    max-width: 1330px;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;

    @media screen and (max-width: 768px) {
        padding: 0 10px;
    }
}

// セクションタイトル
.rp-section-title {
    margin-bottom: 44px;
    letter-spacing: 0.2rem;
    color: $title_brown;
    font-weight: normal;

    &__main {
        font-size: 72px;
        font-family: "Itim", cursive;

        @media screen and (max-width: 768px) {
            font-size: 46px;
        }

    }

    &__text {
        font-size: 14px;
        margin-top: 8px;
        margin-left: 2px;
    }

}

// 注意書き
.rp__site__annotion {
    &__item {
        display: block;
        position: relative;
        padding-left: 1.5em;
        font-size: 0.8rem;
        line-height: 1.6rem;
        opacity: 0.6;

        & span {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

// ボタン(白)
.rp-btn-white {
    display: block;
    position: relative;
    background: $white;
    width: 80%;
    margin: 0 auto;
    margin-top: 32px;
    padding: 18px 30px 18px 20px;
    text-align: center;
    color: $btn_brown;
    border: 2px solid $btn_brown;
    border-radius: 30px;
    font-weight: 500;

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    &::after {
        display: block;
        position: absolute;
        content: "";
        top: calc(50% - 5px);
        right: 40px;
        width: 30px;
        height: 8px;
        border-right: 2px solid $btn_brown;
        border-bottom: 2px solid $btn_brown;
        transform: skew(45deg);
        transition: .4s;

        @media screen and (max-width: 768px) {
            right: 16px;
        }
    }

    &:hover {
        background: $btn_brown;
        color: $white;

        &::after {
            border-right: 2px solid $white;
            border-bottom: 2px solid $white;
            right: 30px;
            width: 40px;
        }
    }
}

// ボタン(茶色)
.rp-btn-brown {
    @extend .rp-btn-white;
    background: $btn_brown;
    color: $white;
    border: 2px solid $btn_brown;


    &::after {
        border-right: 2px solid $white;
        border-bottom: 2px solid $white;

    }

    &:hover {
        background: $white;
        color: $btn_brown;

        &::after {
            border-right: 2px solid $btn_brown;
            border-bottom: 2px solid $btn_brown;
        }
    }
}

// 背景白（パララックスが重なる部分）
._bk-white {
    position: relative;
    background: $white;
    z-index: 1;
}

// 細かな設定
._pd-0 {
    padding: 0;
}

._pt-0 {
    padding-top: 0 !important;
}

._mb-0 {
    margin-bottom: 0 !important;
}

._mt-10 {
    margin-top: 10px !important;
}

._text-center {
    text-align: center;
}

._title-small {
    font-size: 48px;

    @media screen and (max-width: 768px) {
        font-size: 36px;
    }
}

/*--------------------------------

パンくずナビ

---------------------------------*/

.rp-breadcrumb {
    width: 100%;

    &-inner {
        text-align: right;
        padding: 0 25px;
        width: 100%;

        @media screen and (max-width: 768px) {
            text-align: left;
            padding: 0;
        }

        >span {
            display: inline-block;
            font-weight: 500;
            line-height: 1.5;
            color: #707070;

        }
    }
}


/*--------------------------------

ページ間ナビゲーション

---------------------------------*/
.rp-pagenavi {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a:hover {
        color: $btn_brown;
        text-decoration: underline;
        text-decoration-thickness: 1px;
    }

    @media screen and (max-width: 768px) {
        margin-top: 60px;
    }

    &__text {
        display: block;
        text-align: center;
        font-weight: bold;
        color: $btn_brown;
    }
}

// 次へ
.rp-btn-next {
    width: 120px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: $btn_brown;
    position: relative;
    z-index: 10;

    @media screen and (max-width: 768px) {
        width: 100px;
    }

    &:hover .rp-btn-next__arrow--line01 {
        width: 54px;

        @media screen and (max-width: 768px) {
            width: 44px;
        }
    }

    &:hover .rp-btn-next__arrow--line02 {
        right: -70px;

        @media screen and (max-width: 768px) {
            right: -60px;
        }
    }

    &__arrow {
        position: relative;
        margin-left: 10px;


        &--line01 {
            position: absolute;
            left: 18px;
            width: 44px;
            height: 2px;
            background: $btn_brown;
            transition: .4s;

            @media screen and (max-width: 768px) {
                width: 34px;
            }
        }

        &--line02 {
            position: absolute;
            top: 0;
            right: -60px;
            transform-origin: right bottom;
            width: 12px;
            height: 2px;
            background: $btn_brown;
            transform: rotate(30deg);
            transition: .4s;

            @media screen and (max-width: 768px) {
                right: -50px;
            }
        }
    }
}

// 前へ
.rp-btn-prev {
    width: 120px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-weight: bold;
    color: $btn_brown;

    @media screen and (max-width: 768px) {
        width: 100px;
    }

    &:hover .rp-btn-prev__arrow--line01 {
        width: 54px;

        @media screen and (max-width: 768px) {
            width: 44px;
        }
    }

    &:hover .rp-btn-prev__arrow--line02 {
        left: -70px;

        @media screen and (max-width: 768px) {
            left: -60px;
        }
    }

    &__arrow {
        position: relative;
        margin-right: 10px;

        &--line01 {
            position: absolute;
            right: 18px;
            width: 44px;
            height: 2px;
            background: $btn_brown;
            transition: .4s;

            @media screen and (max-width: 768px) {
                width: 34px;
            }
        }

        &--line02 {
            position: absolute;
            top: 0;
            left: -60px;
            transform-origin: left bottom;
            width: 12px;
            height: 2px;
            background: $btn_brown;
            transform: rotate(-30deg);
            transition: .4s;

            @media screen and (max-width: 768px) {
                left: -50px;
            }
        }
    }
}


/*--------------------------------
アニメーション
---------------------------------*/

._fade-up {
    animation-name: fadeUp;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.top-concept-item__title._fade-up {
    animation-delay: .2s;
}

._zoom-in {
    animation-name: zoomIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


._slide-in {
    animation-name: slideIn;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
    animation-fill-mode: forwards;
}

._flip-left {
    animation-name: flipLeft;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    perspective-origin: left center;
    opacity: 0;
}


@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.6);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes flipLeft {
    from {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
        opacity: 0;
    }

    to {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(180px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
    }

    40%,
    100% {
        opacity: 1;
    }
}