$light_green: #A9B892;
$green: #9AB176;
$deep_brown: #A58113;
$normal_brown: #BFB08C;
$light_brown: #E8D6AB;
$pink: #FD8A8A;
$orange: #D68654;
$blue: #9AC6DD;
$black: #333;
$white: #fff;

/*--------------------------------

Footer

---------------------------------*/
.rp-footer {
    position: relative;
    padding-top: 240px;
    background: $white;

    @media screen and (max-width: 768px) {
        padding-top: 120px;
    }
}

.footer {
    &-sns {
        margin: 0 calc(50% - 50vw);
        width: 100vw;
        position: relative;
        z-index: 3;
        text-align: center;
        padding-top: 24px;
        background: $light_brown;

        @media screen and (max-width: 550px) {
            padding-top: 12px;
        }

        & img {
            margin-right: 12px;

            &:last-child {
                margin-right: 0;
                margin-left: 12px;
            }
        }
    }

    &-list {
        padding: 52px 25px 0;
        background: $normal_brown;
    }

    &-logo {
        width: 10%;

        @media screen and (max-width: 550px) {
            width: 30%;
        }
    }

    &-text {
        padding: 24px 0;
        color: $white;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.2rem;

        @media screen and (max-width: 550px) {
            padding: 18px 0;
        }
    }
}