$btn_brown: #765D11;
$title_brown: #987406;
$normal_brown: #BFB08C;
$light_brown: #E8D6AB;

$black: #333;
$white: #fff;

/*--------------------------------

Footer

---------------------------------*/
.rp-footer {
    position: relative;
    padding-top: 240px;
    background: $white;

    @media screen and (max-width: 768px) {
        padding-top: 120px;
    }
}

.footer {
    &-color {
        position: relative;
        z-index: 3;
        height: 30px;
        background: $light_brown;
    }

    &-list {
        padding: 32px 0;
        background: $normal_brown;

        @media screen and (max-width: 768px) {
            padding: 24px 0 8px;
        }
    }

    &-sns {
        display: block;
        margin: 12px 0;
        width: 24px;
        opacity: 0.9;
    }

    &-text {
        color: $white;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.1rem;

    }
}