$btn_brown: #765D11;
$title_brown: #987406;
$normal_brown: #BFB08C;
$light_brown: #E8D6AB;

$black: #333;
$white: #fff;

/*--------------------------------
ヘッダー・グローバルナビ
---------------------------------*/
/*　PC(851〜)　*/
.rp-header {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 90px;
    background: $white;

    @media screen and (max-width: 920px) {
        height: 60px;
        background: unset;
    }


}

.header-gnav {

    &__pc {
        display: block;

        @media screen and (max-width: 920px) {
            display: none
        }
    }

    &__sp {
        display: none;

        @media screen and (max-width: 920px) {
            display: block;
        }
    }
}

.gnav {

    &-logo {
        float: left;
        margin-top: 8px;
        width: 180px;

    }

    &-list {
        float: right;
        margin-top: 24px;

    }

    &-item {
        position: relative;
        float: left;
        text-align: left;
        margin-right: 44px;
        font-size: 14px;
        font-weight: 700;


        &:last-child {
            margin-right: 0;
        }

        a {
            position: relative;
            display: block;
            line-height: 1.3rem;
            letter-spacing: 0.2em;
            transition: .3s;
            font-size: 13px;

            &:hover {
                opacity: 0.8;
            }

        }

        &__tell {
            @extend .gnav-item;
            position: relative;
            width: 140px;
            height: 80px;
            background: $btn_brown;
            text-align: center;
            margin-top: -24px;
            color: $white;

            a {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
                font-size: 20px;

                & span {
                    margin-left: 8px;
                }
            }

            a::before {
                width: 24px;
                height: 24px;
                display: inline;
                content: '';
                background: url('../../dist/images/tell_icon.png');
                background-repeat: no-repeat;
                background-size: contain;
            }

            &:hover {
                color: $btn_brown;
                border: 1px solid $btn_brown;
                background: $white;
                opacity: 1;

                & a::before {
                    background: url('../../dist/images/tell_icon_brown.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                }

            }
        }
    }
}


/*　SP(〜850)　*/
.ham-gnav {
    pointer-events: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: $black;
    transition: 0.8s all;
    z-index: 0;
    background: $white;


    &-list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90%;
        padding-top: 80px;
        margin: 0 auto;
        text-align: left;
    }

    &-logo {
        width: 100%;
        text-align: center;
        margin-bottom: 32px;
    }

    &-item {
        width: 42%;
        margin-bottom: 32px;
        font-size: 12px;
        border-bottom: 1px solid $black;
    }

    &-sns {
        width: 80%;
        margin-top: 32px;
        text-align: center;

        & img {
            margin-right: 4px;

            &:last-child {
                margin-right: 0;
                margin-left: 4px;
            }
        }
    }


}


/* 開く */
#hamBtn {
    position: fixed;
    top: 3px;
    right: 3px;
    padding: 14px;
    outline: none;
    border: none;
    background: $btn_brown;
    width: 68px;
    height: 68px;
    cursor: pointer;
    transition: 0.8s all;
    border-radius: 50px;

    &::before {
        content: '';
        display: block;
        height: 2px;
        background-color: $white;
        transform: translateY(13px);
        transition: 0.3s ease-in-out;
        transform: translate(0, -4px);

    }

    &::after {
        content: '';
        display: block;
        height: 2px;
        background-color: $white;
        transform: translateY(13px);
        transition: 0.3s ease-in-out;
        transform: translate(0, 4px);
    }

}

/* 閉じる */
.open {
    #hamBtn {
        z-index: 100;

        &::before {
            transform: translate(0, 1.5px) rotate(-45deg);
            color: $black;
        }

        &:after {
            transform: translate(0, 0) rotate(45deg);
            color: $black;
        }
    }

    .ham-gnav {
        pointer-events: auto;
        opacity: 1;
    }
}